<h1 class="intro__title"><%= _("Celebrating 1 year of expanding the public's right to know.") %></h1>
<p class="intro__description">
  <%= _("Every citizen has the right to request public records held by state & local government agencies - including townships, counties, school districts & independent authorities - under the New Jersey Open Public Records Act (OPRA). ") %>
  <% if AlaveteliConfiguration.authority_must_respond %>
    <%= _("By law, government agencies have to respond, typically within 7 business days.") %>
  <% end %>
</p>
