<%#- anything you put here will appear as a popup warning on every screen in Alaveteli -%>
-It's <a href="http://njfog.org/2018/03/11/national-sunshine-week-2018/">National Sunshine Week!</a> Thank you to all of our users who help make New Jersey more transparent. 
