<%#- anything you put here will appear as a popup warning on every screen in Alaveteli -%>
This month, we're celebrating <a href="https://blog.opramachine.com/first-birthday-of-opramachine/">one year of making NJ government more transparent!</a> It's OPRAmachine's first birthday! 