
<section id="introduction">
<h2>
  Introduction
</h2>
<p>Please read this carefully before signing up. Your usage of OPRAmachine Pro
(the "service") is contingent with your compliance with these terms and is governed by this legal agreement.</p>
</section>
<section id="usage">
<h2>
  Usage
</h2>
<p>Your OPRAmachine PRO subscription entitles you to use advanced additional features beyond the free capabilities provided by OPRAmachine. You can keep your OPRA requests private while still making use of our advanced tracking capabilities and database
of government agencies. Additionally, take advantage of our batch request capability to easily send the same request to multiple public agencies, all from a single streamlined dashboard exclusively available to pro subscribers.</p>
</section>
<section id="accounts">
<h2>
  Accounts
</h2>
<p>By purchasing a monthly subscription to the service, you are obtaining a limited, revocable account to access the OPRAmachine Pro service.
The account entitles you to make batch requests, keep OPRA requests private and make use of other features exclusively
available to subscribers of the service.</p>
</section>
<section id="termination">
<h2>
  Termination, cancellation and suspension
</h2>
<p>Rozzi Media Group reserves the right to terminate your account at any time if you violate our terms of service,
use the service in a manner that degrades the experience for other users or otherwise abuse the platform, or if you make use of
inapppropriate language or threats while using the service. We may also terminate your account if you fail to pay the monthly subscription fee, as described in the payment section.</p>
</section>
<section id="attribution">
<h2>
  Attribution
</h2>
We request that you attribute any documents used in public stories or publications as origininating from OPRAmachine.com.
Attribution is not required for Pro subscribers.</p>
</section>
<section id="payment">
<h2>
  Payment
</h2>
<p>Your use of the OPRAmachine Pro service is contingent on the payment of the monthly fee of $12 per month. You acknowledge and accept that this sum is good and valuable
consideration for the purposes of this agreement. If you fail to pay the subscription fee or make arrangements, we reserve the right to immediately terminate your Pro account.</p>
</section>
<section id="support">
<h2>
Uptime and support
</h2>
<p>We aim to keep the service operational at all times. However, certain circumstances may arise that are
beyond our control. If this happens, we will make every reasonable effort to promptly restore service, however these terms
should not be construed so as to guarantee a specific Service Level Agreement guaranteeing uptime or a particular outcome of OPRA requests.</p> 

<p>If you require technical support or are having problems with payments, please contact us via email at info@opramachine.com</p>
</section>
<section id="small-print">
<h2>
  Small print
</h2>
<p>You agree that all legal disputes arising under the terms of this agreement shall be governed under the laws of the State of New Jersey.</p>
<p>There are NO refunds and all subscription sales are FINAL</p>
<p>We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
	and defend us against all claims arising out of or based upon your usage of OPRAmachine. You may not use OPRAmachine to send content or materials that may be interpreted as
	libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
  other violation of, any third party rights.</p>
  <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</p>
	<ol>
	<li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
	<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
	<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
	<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
	</ol>
	<p>The limitations and exclusions of liability set out in this section and elsewhere in this disclaimer: (a)
	are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
	in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
	(including negligence) and for breach of statutory duty.</p>
	<p>To the extent that the website and the information and services on the OPRAmachine website are provided free of charge,
	we will not be liable for any loss or damage of any nature.</p>
</section>
<section id="privacy">
<h2>
  Privacy
</h2>
<p>As a professional user, in addition to the regular OPRAmachine privacy provisions, you are entitled to
the privacy of your embargoed requests.  If you choose to mark a request as private, we will not disclose its
contents without your permission and keep correspondence related to the same confidential and not publicly available in the OPRAmachine database, 
until the request becomes public on the OPRAmachine website following you being notified. If your subscription lapses, embargoed requests may become public.</p>
</section>